.contact_us_green * {
  font-family: Nunito, sans-serif;
}

.contact_us_green .responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto 60px;
}

.contact_us_green input:focus,
.contact_us_green textarea:focus {
  outline: none;
}

.contact_us_green .text-blk {
  margin: 0;
  line-height: 25px;
}

.contact_us_green .responsive-cell-block {
  min-height: 75px;
}

.contact_us_green .responsive-container-block.container {
  max-width: 1320px;
  margin: 60px auto;
}

.contact_us_green .responsive-container-block.big-container {
  padding: 0 50px;
}

.contact_us_green .text-blk.contactus-head {
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  margin-bottom: 10px;
}

.contact_us_green .text-blk.contactus-subhead {
  width: 100%; /* Updated: now full width */
  color: #939393;
  font-size: 18px;
  margin-bottom: 50px;
}

.contact_us_green .contact-svg {
  padding-right: 25px;
  width: 65px;
  height: 40px;
}

.contact_us_green .social-media-links {
  margin: 80px auto 0;
  width: 250px;
  display: flex;
  justify-content: space-evenly;
}

.contact_us_green .social-svg {
  width: 35px;
  height: 35px;
}

.contact_us_green .text-box {
  display: flex;
  margin-bottom: 50px;
}

.contact_us_green .contact-text {
  color: #939393;
}

.contact_us_green .input,
.contact_us_green .textinput {
  border: 2.5px solid #a2a2a2;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px 15px;
}

.contact_us_green .input {
  height: 50px;
  width: 90%;
}

.contact_us_green .textinput {
  height: 200px;
  width: 95%;
  padding: 20px;
}

.contact_us_green .submit-btn {
  min-width: 290px;
  height: 60px;
  background-color: #1c3b28;
  font-size: 18px;
  font-weight: 700;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 0 auto;
  cursor: pointer;
}

.contact_us_green .btn-wrapper {
  display: flex;
  justify-content: center;
}

.contact_us_green .text-blk.input-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 15px;
}

.contact_us_green .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6 {
  margin-bottom: 30px;
}

.contact_us_green .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-5.wk-ipadp-10 {
  padding-left: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact_us_green .head-text-box {
  display: none;
}

.contact_us_green .line {
  border-right: 1.8px solid #a2a2a2;
}

.contact_us_green .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-7.wk-ipadp-10.line {
  padding-right: 20px;
}

@media (max-width: 1024px) {
  .contact_us_green .responsive-container-block.container {
    justify-content: center;
  }

  .contact_us_green .text-blk.contactus-subhead {
    width: 100%;
  }

  .contact_us_green .head-text-box {
    display: block;
  }

  .contact_us_green .line {
    border-right: none;
    border-bottom: 1.8px solid #a2a2a2;
  }

  .contact_us_green .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-5.wk-ipadp-10 {
    margin-top: 60px;
  }
}

@media (max-width: 768px) {
  .contact_us_green .text-content {
    display: none;
  }

  .contact_us_green .input,
  .contact_us_green .textinput {
    width: 100%;
  }

  .contact_us_green .text-blk.contactus-head {
    font-size: 30px;
  }
}

@media (max-width: 500px) {
  .contact_us_green .responsive-container-block.big-container {
    padding: 0 20px;
  }

  .contact_us_green .text-blk.input-title {
    font-size: 16px;
  }

  .contact_us_green .text-blk.contactus-head {
    font-size: 26px;
  }

  .contact_us_green .text-blk.contactus-subhead {
    font-size: 16px;
    line-height: 23px;
  }

  .contact_us_green .input {
    height: 45px;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Grid widths */
.wk-desk-1 { width: 8.333333%; }
.wk-desk-2 { width: 16.666667%; }
.wk-desk-3 { width: 25%; }
.wk-desk-4 { width: 33.333333%; }
.wk-desk-5 { width: 41.666667%; }
.wk-desk-6 { width: 50%; }
.wk-desk-7 { width: 58.333333%; }
.wk-desk-8 { width: 66.666667%; }
.wk-desk-9 { width: 75%; }
.wk-desk-10 { width: 83.333333%; }
.wk-desk-11 { width: 91.666667%; }
.wk-desk-12 { width: 100%; }

/* Responsive grid (unchanged width rules for breakpoints) */
